@tailwind base;
@tailwind components;
@tailwind utilities;


.line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Cambia este número al número de líneas que deseas mostrar */
    overflow: hidden;
  }